In [1]:
import pandas as pd
from scipy import stats as stats
import numpy as np

In [6]:
df = pd.read_excel('./AB_Test_Results (2).xlsx')
df.head()

c:\Users\igorp\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

   USER_ID VARIANT_NAME  REVENUE
0      737      variant      0.0
1     2423      control      0.0
2     9411      control      0.0
3     7311      control      0.0
4     6174      variant      0.0

In [8]:
df.describe

<bound method NDFrame.describe of       USER_ID VARIANT_NAME  REVENUE
0         737      variant      0.0
1        2423      control      0.0
2        9411      control      0.0
3        7311      control      0.0
4        6174      variant      0.0
...       ...          ...      ...
9995     1981      control      0.0
9996      502      variant      0.0
9997     9214      variant      0.0
9998     7741      control      0.0
9999     9468      control      0.0

[10000 rows x 3 columns]>

In [7]:
df.describe()

            USER_ID       REVENUE
count  10000.000000  10000.000000
mean    4981.080200      0.099447
std     2890.590115      2.318529
min        2.000000      0.000000
25%     2468.750000      0.000000
50%     4962.000000      0.000000
75%     7511.500000      0.000000
max    10000.000000    196.010000

In [10]:
#Проверяем как паботает сплит система
variant = df.VARIANT_NAME.groupby(df.VARIANT_NAME == 'variant').count()
control = df.VARIANT_NAME.groupby(df.VARIANT_NAME == 'control').count()
print(variant)
print(control)
print('Сплит система работает хорошо')

VARIANT_NAME
False    4984
True     5016
Name: VARIANT_NAME, dtype: int64
VARIANT_NAME
False    5016
True     4984
Name: VARIANT_NAME, dtype: int64
Сплит система работает хорошо

In [11]:
#Поскольку у нас 10 000 юзеров используем тест Колмогорова-Смирнова для проверки на нормальность
print(stats.kstest(df['REVENUE'][df.VARIANT_NAME == 'variant'], 'norm'))
print(stats.kstest(df['REVENUE'][df.VARIANT_NAME == 'control'], 'norm'))

KstestResult(statistic=0.5, pvalue=0.0, statistic_location=0.0, statistic_sign=-1)
KstestResult(statistic=0.5, pvalue=0.0, statistic_location=0.0, statistic_sign=-1)

In [14]:
# Поскольку мы анализируем количественные данные, группы независимы, а 
# распределение не нормально проводим тест Манна-Уитни

stats.mannwhitneyu(df[df.VARIANT_NAME == 'control'].REVENUE,
                   df[df.VARIANT_NAME == 'variant'].REVENUE)

MannwhitneyuResult(statistic=12521564.0, pvalue=0.47825247965294926)

Исходя из получившихся данных мы можем рекомендовать оставить текущуюю версию сайта